[user]
	email = oleg1995sysoev@yandex.ru
	name = HardDie
[core]
	editor = vim
[alias]
	llog = log --oneline --decorate --graph --all
	sts = status --short --branch
	lg = log --graph --all --pretty=format:\"%C(yellow)%h%C(auto)%d%C(reset) %s %C(bold green)(%cr) %C(bold blue)<%an>%C(reset)\"
[push]
	default = simple