.emacs.d/elpa/archives
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/ede-projects.el
.cache/
.config/dconf/
.config/evolution/
.config/gtk-3.0/
.config/pulse/
.config/user-dirs.*
.esd_auth
.mozilla/
.ICEauthority
.bash_history
.bash_logout
.bash_profile
.viminfo
.config/monitors.xml
.bzr.log
.themes/
Downloads/
.mono/
.local/
.icons/
.config/nautilus/
.config/gtk-2.0/
.config/gconf/
.config/Trolltech.conf
.config/KeePass/
.config/Clementine/
.config/.mono/
.emacs.d/.emacs.desktop
.recently-used
.ssh/
.Xauthority
.ccache/
.cmake/
.compiz/
.config/autostart/
.config/caja/
.config/compiz-1/
.config/enchant/
.config/gedit/
.config/gnome-control-center/
.config/htop/
.config/ibus/
.config/libaccounts-glib/
.config/libreoffice/
.config/ubuntu-ui-toolkit/
.config/unity/
.config/update-notifier/
.dbus/
.dmrc
.emacs.d/.emacs.desktop.lock
.emacs.d/bookmarks
.emacs.d/semanticdb/
.gconf/
.gnupg/
.kde/
.lesshst
.minirc.dfl
.profile
.thunderbird/
.wireshark/
.xinputrc
.xsession-errors
.xsession-errors.old
Desktop/
Project/
minicom.log
.emacs.d/elpa/yasnippet-0.11.0.signed
.emacs.d/session.*
.pam_environment
all_for_build_project
conf_git
.config/mc/ini
.config/mc/panels.ini
.fonts/
Documents/
VirtualBox VMs/
.steam/
.pki/
.config/QtProject.conf
.config/VirtualBox/
.config/audacious/
.config/deluge/
.config/eog/
.config/epiphany/
.config/totem/
.config/unity3d/
.config/transmission/
.kde4/
.config/mimeapps.list
.gksu.lock
.steam*
.pulse-cookie