[submodule "my_scripts/dot-my_scripts/.tldr"]
	path = my_scripts/dot-my_scripts/.tldr
	url = https://github.com/HardDie/tldrPages.git
[submodule "my_scripts/dot-my_scripts/.data/binary/sway_independent_layouts"]
	path = my_scripts/dot-my_scripts/.data/binary/sway_independent_layouts
	url = https://github.com/HardDie/sway_independent_layouts.git
