[user]
	email = oleg1995sysoev@yandex.ru
	name = HardDie
[core]
	editor = vim
[alias]
	llog = log --oneline --decorate --graph --all
	sts = status --short --branch
	glog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(dim white) %C(reset)%s%n    %C(bold green)(%ar) %C(bold yellow)%d %C(dim white)%an\"
[push]
	default = simple