.emacs.d/elpa/archives
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/ede-projects.el
.cache/
.config/dconf/
.config/evolution/
.config/gtk-3.0/
.config/pulse/
.config/user-dirs.*
.esd_auth
.mozilla/
.ICEauthority
.bash_history
.bash_logout
.bash_profile
.viminfo
.config/monitors.xml
.bzr.log
.themes/
Downloads/
.mono/
.local/
.icons/
.config/nautilus/
.config/gtk-2.0/
.config/gconf/
.config/Trolltech.conf
.config/KeePass/
.config/Clementine/
.config/.mono/
.emacs.d/.emacs.desktop
.recently-used
.ssh/
