.emacs.d/elpa/archives
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/ede-projects.el
.ssh/
.emacs.d/.emacs.desktop.lock
.emacs.d/bookmarks
.emacs.d/semanticdb/
Desktop/
Downloads/
VirtualBox VMs/
.emacs.d/elpa/yasnippet-0.11.0.signed
.emacs.d/session.*
.emacs.d/irony/*
