[Bindings]
launch=<Alt>F2

[Matching]
executable=true

[Icons]
show=true
scale=true

[Border]
color=default
width=1

[Window]
color=default
width=200
height=100
round=true
arch=true

[Labels]
color=default
size1=14
size2=12
showinput=true
